*{
    margin: 0; 
}
.menu .mbutton {
    opacity: 0.83;
}

.menu .mbutton:hover {
    cursor: pointer;
    opacity:1; 
}

.menu #regbutton:hover {
    cursor: pointer; 
}

.menu #banner {
    width: 1200px;
    height: 630px;
}




.selected {
    color: white !important; 
}
.sample-questions #lvl1but {
    color: rgba(255, 255, 255, 0.5);; 
}
.sample-questions #lvl2but {
    color: rgba(255, 255, 255, 0.5);
}
.sample-questions #lvl3but {
    color: rgba(255, 255, 255, 0.5);
}

.sample-questions #uiline {
    left: 598px; 
}
.sample-questions #lvl1but:hover {
    cursor: pointer;
    color: white;
} 
.sample-questions #lvl2but:hover {
    cursor: pointer;
    color: white;
} 
.sample-questions #lvl3but:hover {
    cursor: pointer;
    color: white;
} 


