*{
    margin: 0; 
}


/* MENU  */
.menu .swiper-container {
    width: 100%;
    height: 848px;
    margin: 0;
    padding: 0;
}
.menu .swiper-container #logo {
    float: left;
    max-width: 143px;
    height: 143px;
    margin-left: 160px;
    margin-top: 18px
}
.menu .swiper-container .words {
    display: flex;
    position: absolute;
    padding-top: 85px;
    padding-left: 800px;
    z-index: 2;
}
.menu .swiper-container .words #uno {
    color: white;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight:500;
    white-space: nowrap;
}
.menu .swiper-container .words #dos {
    color: white;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight:500;
    margin-left: 40px;
    white-space: nowrap;
}
.menu .swiper-container .words #tres {
    color: white;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight:500;
    margin-left: 40px;
    white-space: nowrap;
}
.menu .swiper-container .words #quatro {
    color: white;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight:500;
    margin-left: 40px;
    white-space: nowrap;
}

.menu .swiper-container #menuicon {
    display: none; 
}
.menu .mbutton {
    opacity: 0.83;
}

.menu .mbutton:hover {
    cursor: pointer;
    opacity:1; 
}

.menu #regbutton:hover {
    cursor: pointer; 
}
.menu #banner {
    max-width: 1200px;
    height: 630px;
}
.menu .swiper-container .swiper-wrapper .swiper-slide #phonebanner {
    display: none; 
}
.menu .swiper-container .swiper-wrapper .swiper-slide #mac {
    position: absolute;
    min-width: 400px;
    z-index: 0;
    max-width: 600px;
    height: 300px;
    left: 820px;
    top: 100px;

}
.menu .swiper-container .swiper-wrapper .swiper-slide .main {
    position: absolute; width: 556px; height: 173px; left: 166px; top: 170px; font-family: 'Open Sans', sans-serif; font-weight: bold; font-size: 38px; line-height: 52px; color: white;
}
.menu .swiper-container .swiper-wrapper .swiper-slide #regbutton {
    margin: 0; padding: 0; z-index: 1; position: absolute; width: 309px; height: 56px; left: 166px; top: 377px; background: #F16464; border-radius: 28px;
}
.menu .swiper-container .swiper-wrapper .swiper-slide #page2but {
    position: absolute; left: 900px; top: 358px; color: yellow; font-family: 'Open Sans', sans-serif; font-size: 20px; font-weight: bold; z-index: 2
}

/* What we do section */
.what-we-do .rectangle-cover {
    position: absolute; width: 909px; height: 466px; left: 50%; transform: translateX(-50%); top: 957px; border: 1px solid rgba(0, 0, 0, 0.1); box-sizing: border-box;
}
.what-we-do #title-text {
    position: absolute; width: 208px; height: 46px; left: 50%; transform: translateX(-50%); top: 1045px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: bold; font-size: 34px; line-height: 46px; text-align: center; color: #4E7FC8;
}
.what-we-do .line {
    position: absolute; width: 124px; height: 0px; left: 50%; transform: translateX(-50%); top: 1104px; border: 3px solid #5576A8;
}
.what-we-do #main-text{
    position: absolute; width: 606px; height: 211px; left: 50%; transform: translateX(-50%); top: 1142px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: normal; font-size: 24px; line-height: 33px; text-align: center; color: #2C4875;
}

/* Interview Assistance Section */
.specs1 .deco1 {
    position: absolute; width: 515px; height: 891px; left: 0px; top: 1532px; background: #EFF6FE; border-radius: 0px 0px 500px 0px; transform: matrix(-1, 0, 0, 1, 0, 0);
} 
.specs1 #interviewassist {
    position: absolute; width: 311px; height: 41px; left: 695px; top: 1620px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: bold; font-size: 30px; line-height: 41px; color: #484848;
}
.specs1 #ffirms {
    position: absolute; width: 150px; height: 30px; left: 961px; top: 1661px; font-family: 'Open Sans', sans-serif; font-style: italic; font-weight: normal; font-size: 22px; line-height: 30px; color: #5576A8;
}
.specs1 #tbar {
    position: absolute; width: 618px; height: 0px; left: 392px; top: 2050px; border: 2px solid #5576A8; transform: rotate(90deg);
}
.specs1 #op {
    position: absolute; width: 161px; height: 25px; left: 755px; top: 1760px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: 600; font-size: 18px; line-height: 25px; color: #474333;
}
.specs1 #firstr {
    position: absolute; width: 88px; height: 25px; left: 755px; top: 1833px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: 600; font-size: 18px; line-height: 25px; color: #474333;
}
.specs1 #secondr {
    position: absolute; width: 95px; height: 25px; left: 755px; top: 2062px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: 600; font-size: 18px; line-height: 25px; color: #474333;
}
.specs1 #finalr {
    position: absolute; width: 133px; height: 25px; left: 755px; top: 2173px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: 600; font-size: 18px; line-height: 25px; color: #474333;
}
.specs1 #fbul {
    position: absolute; width: 14px; height: 14px; left: 693px; top: 1763px; background: #5576A8; border: 3px solid #FFFFFF; transform: rotate(-45.59deg);
}
.specs1 #sbullet {
    position: absolute; width: 14px; height: 14px; left: 693px; top: 1836px; background: #5576A8; border: 3px solid #FFFFFF; transform: rotate(-45.59deg);
}
.specs1 #tbullet {
    position: absolute; width: 14px; height: 14px; left: 693px; top: 2065px; background: #5576A8; border: 3px solid #FFFFFF; transform: rotate(-45.59deg);
}
.specs1 #fbullet {
    position: absolute; width: 14px; height: 14px; left: 693px; top: 2176px; background: #5576A8; border: 3px solid #FFFFFF; transform: rotate(-45.59deg);
}
.specs1 #fmbullet {
    position: absolute; width: 7px; height: 7px; left: 755px; top: 1872px; background: #5576A8;
}
.specs1 #smbullet {
    position: absolute; width: 7px; height: 7px; left: 755px; top: 1971px; background: #5576A8;
}
.specs1 #tmbullet {
    position: absolute; width: 7px; height: 7px; left: 755px; top: 2102px; background: #5576A8;
}
.specs1 #fmbullet {
    position: absolute; width: 7px; height: 7px; left: 755px; top: 2213px; background: #5576A8;
}
.specs1 #fifth-mbullet {
    position: absolute; width: 7px; height: 7px; left: 755px; top: 2279px; background: #5576A8;
}
.specs1 #firstrd-one {
    position: absolute; width: 479px; height: 73px; left: 783px; top: 1864px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: normal; font-size: 18px; line-height: 25px; overflow-y: hidden; color: #494949;
}
.specs1 #firstrd-two {
    position: absolute; width: 479px; height: 73px; left: 783px; top: 1962px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: normal; font-size: 18px; line-height: 25px; color: #494949;
}
.specs1 #secrd-one {
    position: absolute; width: 479px; height: 73px; left: 783px; top: 2093px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: normal; font-size: 18px; line-height: 25px; color: #494949;
}
.specs1 #finrd-one {
    position: absolute; width: 479px; height: 73px; left: 783px; top: 2204px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: normal; font-size: 18px; line-height: 25px; color: #494949;
}
.specs1 #finrd-two {
    position: absolute; width: 479px; height: 73px; left: 783px; top: 2271px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: normal; font-size: 18px; line-height: 25px; color: #494949;
}
/* Certified Programmers Section */
.specs2 .deco {
    position: absolute; width: 517px; height: 891px; left: 923px; top: 2509px; background: #EFF6FE; border-radius: 0px 0px 500px 0px;
}
.specs2 #title {
    position: absolute; width: 343px; height: 41px; left: 212px; top: 2643px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: bold; font-size: 30px; line-height: 41px; color: #535353;
}
.specs2 #stitle {
    position: absolute; width: 170px; height: 30px; left: 482px; top: 2684px; font-family: 'Open Sans', sans-serif; font-style: italic; font-weight: normal; font-size: 22px; line-height: 30px; color: #5576A8;
}
.specs2 #lvlone {
    position: absolute; width: 63px; height: 25px; left: 212px; top: 2789px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: bold; font-size: 18px; line-height: 25px; color: #DCBA42;
}
.specs2 #interns {
    position: absolute; width: 70px; height: 19px; left: 348px; top: 2792px; font-family: 'Open Sans', sans-serif; font-style: italic; font-weight: 600; font-size: 14px; line-height: 19px; color: rgba(51, 51, 51, 0.6);
}
.specs2 #divone {
    position: absolute; width: 497px; height: 0px; left: 212px; top: 2824px; border: 1px solid rgba(55, 55, 55, 0.3);
    
}
.specs2 #lvlonetitle {
    position: absolute; width: 140px; height: 30px; left: 212px; top: 2834px; font-family: 'Open Sans', sans-serif; font-style: italic; font-weight: 600; font-size: 22px; line-height: 30px; color: #333333;
}
.specs2 #lvlonemain {
    position: absolute; width: 227px; height: 44px; left: 212px; top: 2871px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: normal; font-size: 16px; line-height: 22px; color: #333333;
}
.specs2 #lvltwo {
    position: absolute; width: 63px; height: 25px; left: 212px; top: 2956px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: bold; font-size: 18px; line-height: 25px; color: #DCBA42;

}
.specs2 #undergraduates {
    position: absolute; width: 180px; height: 19px; left: 348px; top: 2956px; font-family: 'Open Sans', sans-serif; font-style: italic; font-weight: 600; font-size: 14px; line-height: 19px; color: rgba(51, 51, 51, 0.6);
}
.specs2 #divtwo {
    position: absolute; width: 497px; height: 0px; left: 212px; top: 2991px; border: 1px solid rgba(55, 55, 55, 0.3);
}
.specs2 #lvltwotitle {
    position: absolute; width: 140px; height: 30px; left: 212px; top: 3001px; font-family: 'Open Sans', sans-serif; font-style: italic; font-weight: 600; font-size: 22px; line-height: 30px; color: #333333;
}
.specs2 #lvltwomain {
    position: absolute; width: 500px; height: 90px; left: 212px; top: 3038px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: normal; font-size: 16px; line-height: 22px; color: #333333;
}
.specs2 #lvlthree {
    position: absolute; width: 63px; height: 25px; left: 212px; top: 3165px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: bold; font-size: 18px; line-height: 25px; color: #DCBA42;
}
.specs2 #graduates {
    position: absolute; width: 300px; height: 19px; left: 348px; top: 3165px; font-family: 'Open Sans', sans-serif; font-style: italic; font-weight: 600; font-size: 14px; line-height: 19px; color: rgba(51, 51, 51, 0.6);
}
.specs2 #divthree {
    position: absolute; width: 497px; height: 0px; left: 212px; top: 3200px; border: 1px solid rgba(55, 55, 55, 0.3);
}
.specs2 #lvlthreetitle {
    position: absolute; width: 140px; height: 30px; left: 212px; top: 3210px; font-family: 'Open Sans', sans-serif; font-style: italic; font-weight: 600; font-size: 22px; line-height: 30px; color: #333333;
}
.specs2 #lvlthreemain {
    position: absolute; width: 480px; height: 44px; left: 212px; top: 3247px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: normal; font-size: 16px; line-height: 22px; color: #333333;
}
/* Samples Section */
.sample-questions #back {
    position: absolute; order: 0; width: 100%; height: 1118px; left: 0px; top: 3536px; background: rgba(30, 47, 79, 0.8)
}
.sample-questions #title {
    position: absolute; width: 324px; height: 49px; left: 558px; top: 3612px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: bold; font-size: 36px; line-height: 49px; color: #FFFFFF;
}
.sample-questions #problem {
    position: absolute; width: 752px; height: 750px; left: 344px; top: 3735px; order: 3; background: white;
}
.sample-questions #thepimg {
    position: absolute; width: 752px; height: 720px; left: 344px; top: 3751px;
}
.sample-questions #lvl1but {
    position: absolute; width: 65px; height: 19px; left: 593px; top: 4510px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: bold; font-size: 14px; line-height: 19px;
}
.sample-questions #lvl2but {
    position: absolute; left: 696px; top: 4510px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: bold; font-size: 14px; line-height: 20px;
}
.sample-questions #lvl3but {
    position: absolute; width: 65px; height: 19px; left: 799px; top: 4510px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: bold; font-size: 14px; line-height: 19px;
}
.sample-questions #uiline {
    position: absolute; width: 34px; height: 0px; top: 4532px; border: 1px solid #FFFFFF;
}

/* Menu Media Query (Large Phones) */
@media only screen and (max-width: 600px) {
    body {
        overflow-x: hidden;
    }
    #rapper {
        overflow-x: hidden;
    }
    .what-we-do {
        overflow-x: hidden;
    }
    .specs1 {
        overflow-x: hidden;
    }
    .specs2 {
        overflow-x: hidden;
    }
    .sample-questions {
        overflow-x: hidden;
    }
    .menu .swiper-container{
        width: auto;
        min-width: 200px; 
        height: 848px;
    }
    .menu .swiper-container #logo {
        width: 140px;
        height: 140px;
        margin: auto; 
        padding: 25px

    }
    .menu .swiper-container #menuicon {
        display: block; 
        position: absolute;
        right: 10px;
        width: 100px;
        height: 100px; 
        top: 37px; 
    }
    .menu .swiper-container .words {
        margin-top: 140px; 
        text-align: left;
        display: none; 
    }
    .menu .swiper-container .words #uno {
        background-color: rgba(30, 34, 68, 0.7);
        position: absolute;
        width: 100%;
        line-height: 40px;
        padding-left: 80px;
        height: 40px;
        left: 0px; 
        top: 0px;
        color: white; 
        font-family: 'Open Sans', sans-serif;
        font-weight:600;
    }
    .menu .swiper-container .words #dos {
        background-color: rgba(30, 34, 68, 0.95);
        position: absolute;
        width: 100%;
        line-height: 40px;
        padding-left: 80px;
        margin-left: 0; 
        height: 40px;
        left: 0px; 
        top: 40px;
        color: white; 
        font-family: 'Open Sans', sans-serif;
        font-weight:600;
    }
    .menu .swiper-container .words #tres {
        background-color: rgba(30, 34, 68, 0.7);
        position: absolute;
        width: 100%;
        line-height: 40px;
        padding-left: 80px;
        margin-left: 0; 
        height: 40px;
        left: 0px; 
        top: 80px;
        color: white; 
        font-family: 'Open Sans', sans-serif;
        font-weight:600;
    }
    .menu .swiper-container .words #quatro {
        background-color: rgba(30, 34, 68, 0.95);
        position: absolute;
        width: 100%;
        line-height: 40px;
        padding-left: 80px;
        margin-left: 0; 
        height: 40px;
        left: 0px; 
        top: 120px;
        color: white; 
        font-family: 'Open Sans', sans-serif;
        font-weight:600;
    }
    .menu .swiper-container .swiper-wrapper .swiper-slide #phonebanner {
        display: inline-block;
        top: 0px;
        width: 350px;
        height: 440px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .menu .swiper-container .swiper-wrapper .swiper-slide #banner {
        display: none;
    }
    .menu .swiper-container .swiper-wrapper .swiper-slide #mac {
        position: absolute;
        width: 200px;
        height: 230px;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        padding: 0; 

    }
    .menu .swiper-container .swiper-wrapper .swiper-slide .main {
        position: absolute;
        width: 300px;
        height: 170px;
        left: 50%;
        transform: translateX(-50%);
        top: 270px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 20px;
        line-height: 32px;
        color: white;
    }
    .menu .swiper-container .swiper-wrapper .swiper-slide #regbutton {
        margin: 0; padding: 0; z-index: 1; position: absolute; width: 309px; height: 56px; left: 50%; transform: translateX(-50%);
        top: 410px; background: #F16464; border-radius: 28px;
    }
    .menu .swiper-container .swiper-wrapper .swiper-slide #page2but {
        margin: 0; padding: 0;
        position: absolute; left: 50%; transform: translateX(-50%); top: 450px; font-size: 17px;
    }
    /* What we do section */
    .what-we-do .rectangle-cover {
        position: absolute; width: 300px; height: 466px; left: 50%; transform: translateX(-50%); top: 957px; border: 1px solid rgba(0, 0, 0, 0.1); box-sizing: border-box;
    }
    .what-we-do #title-text {
        position: absolute; width: 208px; height: 46px; left: 50%; transform: translateX(-50%); top: 1030px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: bold; font-size: 20px; line-height: 46px; text-align: center; color: #4E7FC8;
    }
    .what-we-do .line {
        position: absolute; width: 124px; height: 0px; left: 50%; transform: translateX(-50%); top: 1080px; border: 3px solid #5576A8;
    }
    .what-we-do #main-text{
        position: absolute; width: 260px; height: 211px; left: 50%; transform: translateX(-50%); top: 1120px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: normal; font-size: 15px; line-height: 33px; text-align: center; color: #2C4875;
    }

    /* Interview Assistance Section */
    .specs1 {
        width: 100%;
        top: 1620px;
        overflow: hidden; 
    }
    .specs1 .deco1 {
        display: none;
    } 
    .specs1 #interviewassist {
        position: absolute; height: 41px; left: 50%; transform: translateX(-50%); top: 1620px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: bold; font-size: 26px; line-height: 41px; color: #484848;
    }
    .specs1 #ffirms {
        position: absolute; width: 150px; height: 30px; left: 50%; transform: translateX(-20%); top: 1661px; font-family: 'Open Sans', sans-serif; font-style: italic; font-weight: normal; font-size: 22px; line-height: 30px; color: #5576A8;
    }
    .specs1 #tbar {
        position: absolute; width: 618px; height: 0px; left: 392px; margin-left: -640px; top: 2050px; border: 2px solid #5576A8; transform: rotate(90deg)
    }
    .specs1 #op {
        position: absolute; width: 161px; height: 25px; left: 755px; margin-left: -640px; top: 1760px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: 600; font-size: 18px; line-height: 25px; color: #474333;
    }
    .specs1 #firstr {
        position: absolute; width: 88px; height: 25px; left: 755px; margin-left: -640px; top: 1833px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: 600; font-size: 18px; line-height: 25px; color: #474333;
    }
    .specs1 #secondr {
        position: absolute; width: 95px; height: 25px; left: 755px; margin-left: -640px; top: 2062px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: 600; font-size: 18px; line-height: 25px; color: #474333;
    }
    .specs1 #finalr {
        position: absolute; width: 133px; height: 25px; left: 755px; margin-left: -640px; top: 2173px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: 600; font-size: 18px; line-height: 25px; color: #474333;
    }
    .specs1 #fbul {
        position: absolute; width: 14px; height: 14px; left: 693px; margin-left: -640px; top: 1763px; background: #5576A8; border: 3px solid #FFFFFF; transform: rotate(-45.59deg);
    }
    .specs1 #sbullet {
        position: absolute; width: 14px; height: 14px; left: 693px; margin-left: -640px; top: 1836px; background: #5576A8; border: 3px solid #FFFFFF; transform: rotate(-45.59deg);
    }
    .specs1 #tbullet {
        position: absolute; width: 14px; height: 14px; left: 693px; margin-left: -640px; top: 2065px; background: #5576A8; border: 3px solid #FFFFFF; transform: rotate(-45.59deg);
    }
    .specs1 #fbullet {
        position: absolute; width: 14px; height: 14px; left: 693px; margin-left: -640px; top: 2176px; background: #5576A8; border: 3px solid #FFFFFF; transform: rotate(-45.59deg);
    }
    .specs1 #fmbullet {
        position: absolute; width: 7px; height: 7px; left: 755px; margin-left: -640px; top: 1872px; background: #5576A8;
    }
    .specs1 #smbullet {
        position: absolute; width: 7px; height: 7px; left: 755px; margin-left: -640px; top: 1971px; background: #5576A8;
    }
    .specs1 #tmbullet {
        position: absolute; width: 7px; height: 7px; left: 755px; margin-left: -640px; top: 2102px; background: #5576A8;
    }
    .specs1 #fombullet {
        position: absolute; width: 7px; height: 7px; left: 755px; margin-left: -640px; top: 2213px; background: #5576A8;
    }
    .specs1 #fifth-mbullet {
        position: absolute; width: 7px; height: 7px; left: 755px; top: 2279px; margin-left: -640px; background: #5576A8;
    }
    .specs1 #firstrd-one {
        position: absolute; width: 200px; height: 73px; left: 783px; top: 1864px; margin-left: -640px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: normal; font-size: 12px; line-height: 12px; overflow-y: hidden; color: #494949;
    }
    .specs1 #firstrd-two {
        position: absolute; width: 200px; height: 73px; left: 783px; top: 1962px; margin-left: -640px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: normal; font-size: 12px; line-height: 12px; color: #494949;
    }
    .specs1 #secrd-one {
        position: absolute; width: 200px; height: 73px; left: 783px; top: 2093px; margin-left: -640px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: normal; font-size: 12px; line-height: 12px; color: #494949;
    }
    .specs1 #finrd-one {
        position: absolute; width: 200px; height: 73px; left: 783px; top: 2204px; margin-left: -640px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: normal; font-size: 12px; line-height: 12px; color: #494949;
    }
    .specs1 #finrd-two {
        position: absolute; width: 200px; height: 73px; left: 783px; top: 2271px; margin-left: -640px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: normal; font-size: 12px; line-height: 12px; color: #494949;
    }
    /* Certified Programmers Section */
    .specs2 .deco {
        display: none;
    }
    .specs2 #title {
        position: absolute; height: 40px; left: 50%; transform: translateX(-50%); top: 2643px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: bold; font-size: 26px; line-height: 41px; color: #535353;
    }
    .specs2 #stitle {
        position: absolute; width: 170px; height: 30px; left: 50%; transform: translateX(-20%); top: 2684px; font-family: 'Open Sans', sans-serif; font-style: italic; font-weight: normal; font-size: 22px; line-height: 30px; color: #5576A8;
    }
    .specs2 #lvlone {
        position: absolute; width: 63px; height: 25px; left: 10%; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: bold; font-size: 16px; line-height: 25px; color: #DCBA42;
    }
    .specs2 #interns {
        position: absolute; width: 70px; height: 19px; left: 30%; top: 2792px; font-family: 'Open Sans', sans-serif; font-style: italic; font-weight: 600; font-size: 12px; line-height: 19px; color: rgba(51, 51, 51, 0.6);
    }
    .specs2 #divone {
        position: absolute; width: 330px; height: 0px; left: 10%; top: 2824px; border: 1px solid rgba(55, 55, 55, 0.3);
    }
    .specs2 #lvlonetitle {
        position: absolute; width: 140px; height: 30px; left: 10%; top: 2834px; font-family: 'Open Sans', sans-serif; font-style: italic; font-weight: 600; font-size: 20px; line-height: 26px; color: #333333;
    }
    .specs2 #lvlonemain {
        position: absolute; width: 227px; height: 44px; left: 10%; top: 2871px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: normal; font-size: 14px; line-height: 20px; color: #333333;
    }

    .specs2 #lvltwo {
        position: absolute; width: 63px; height: 25px; left: 10%; top: 2956px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: bold; font-size: 16px; line-height: 25px; color: #DCBA42;
    }
    .specs2 #undergraduates {
        position: absolute; width: 180px; height: 19px; left: 30%; top: 2956px; font-family: 'Open Sans', sans-serif; font-style: italic; font-weight: 600; font-size: 12px; line-height: 19px; color: rgba(51, 51, 51, 0.6);
    }
    .specs2 #divtwo {
        position: absolute; width: 330px; height: 0px; left: 10%; top: 2991px; border: 1px solid rgba(55, 55, 55, 0.3);
    }
    .specs2 #lvltwotitle {
        position: absolute; width: 140px; height: 30px; left: 10%; top: 3001px; font-family: 'Open Sans', sans-serif; font-style: italic; font-weight: 600; font-size: 20px; line-height: 26px; color: #333333;
    }
    .specs2 #lvltwomain {
        position: absolute; width: 300px; height: 90px; left: 10%; top: 3038px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: normal; font-size: 14px; line-height: 20px; color: #333333;
    }

    .specs2 #lvlthree {
        position: absolute; width: 63px; height: 25px; left: 10%; top: 3165px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: bold; font-size: 16px; line-height: 25px; color: #DCBA42;
    }
    .specs2 #graduates {
        position: absolute; width: 300px; height: 19px; left: 30%; top: 3165px; font-family: 'Open Sans', sans-serif; font-style: italic; font-weight: 600; font-size: 12px; line-height: 19px; color: rgba(51, 51, 51, 0.6);
    }
    .specs2 #divthree {
        position: absolute; width: 330px; height: 0px; left: 10%; top: 3200px; border: 1px solid rgba(55, 55, 55, 0.3);
    }
    .specs2 #lvlthreetitle {
        position: absolute; width: 140px; height: 30px; left: 10%; top: 3210px; font-family: 'Open Sans', sans-serif; font-style: italic; font-weight: 600; font-size: 20px; line-height: 26px; color: #333333;
    }
    .specs2 #lvlthreemain {
        position: absolute; width: 300px; height: 44px; left: 10%; top: 3247px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: normal; font-size: 14px; line-height: 19px; color: #333333;
    }
    /* Samples Section */
    .sample-questions #back {
        position: absolute; order: 0; width: 100%; height: 900px; left: 0px; top: 3536px; background: rgba(30, 47, 79, 0.8)
    }
    .sample-questions #title {
        position: absolute; width: 324px; height: 49px; left: 50%; transform: translateX(-50%); top: 3612px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: bold; font-size: 26px; line-height: 49px; color: #FFFFFF;
    }
    .sample-questions #problem {
        position: absolute; width: auto; height: 750px; left: 0px; top: 3735px; order: 3; background: white;
    }
    .sample-questions #thepimg {
        position: absolute; width: 100%; height: 720px; left: 0px; top: 3751px;
    }
    .sample-questions #lvl1but {
        position: absolute; width: 65px; height: 19px; left: 593px; top: 4510px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: bold; font-size: 14px; line-height: 19px;
    }
    .sample-questions #lvl2but {
        position: absolute; left: 696px; top: 4510px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: bold; font-size: 14px; line-height: 20px;
    }
    .sample-questions #lvl3but {
        position: absolute; width: 65px; height: 19px; left: 799px; top: 4510px; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: bold; font-size: 14px; line-height: 19px;
    }
    .sample-questions #uiline {
        display: none; 
    }
}





.selected {
    color: white !important; 
}
.sample-questions #lvl1but {
    color: rgba(255, 255, 255, 0.5);; 
}
.sample-questions #lvl2but {
    color: rgba(255, 255, 255, 0.5);
}
.sample-questions #lvl3but {
    color: rgba(255, 255, 255, 0.5);
}

.sample-questions #uiline {
    left: 598px; 
}
.sample-questions #lvl1but:hover {
    cursor: pointer;
    color: white;
} 
.sample-questions #lvl2but:hover {
    cursor: pointer;
    color: white;
} 
.sample-questions #lvl3but:hover {
    cursor: pointer;
    color: white;
} 


